<!doctype html>
<html>
   <body>
   
      <table border = 1>
         <thead>
            <td>Name</td>
            <td>country.id>/td<
            <td>city.id</td>
            <td>server_ip</td>
            <td>dc_provided_name</td>
            <td>dns_PointtoserverOrGrid</td>
            <td>dns_listenIP</td>
            <td>dns_openvpn</td>
            <td>dnsmasq_pool</td>
            <td>ipsec_listenIP</td>
            <td>openvpn_listenIP</td>
            <td>pptp_listenIP</td>
            <td>pptp_pool</td>
            <td>softether_listenIP</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{row["name"]}}</td>
               <td>{{row["country.id"]}}</td>
               <td> {{ row["city.id"]}}</td>
               <td>{{row['server_ip']}}</td>
               <td>{{row["dc_provided_name"]}}</td>
               <td>{{row["dns_PointtoserverOrGrid"]}}</td>	
               <td>{{row["dnsmasq_pool"]}}</td>
               <td>{{row["ipsec_listenIP"]}}</td>
               <td>{{row["openvpn_listenIP"]}}</td>
               <td>{{row["pptp_listenI"]}}</td>
               <td>{{row["pptp_pool"]}}</td>
               <td>{{row["dnsmasq_pool"]}}</td>
               <td>{{row["softether_listenIP"]}}</td>
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
      
   </body>
</html>